// Шрифт по умолчанию
$basicFontFamily: "Nekst";

// Дополнительный шрифт
$optionalFontFamily: "Gilroy";

// Цветовая палитра
$mainColorBlack: #111111;
$mainColorLightBlack: #333333;
$mainColorGrey: #575757;
$mainColorOrange: #ff9514;
$mainColorWhite: #ffffff;
$BackgroundInput: #f3f3f4;
$BackgroundInputAfter: #e0e0e0;
$BackgroundInputBefore: #e0e0e0;
