// Шрифт по умолчанию
$basicFontFamily: "Nekst";
$optionalFontFamily: "Gilroy";
// Цветовая палитра
$mainColorBlack: #111111;
$mainColorBlackLight: #333333;
$mainColorGrey: #575757;
$mainColorOrange: #ff9514;
$mainColorWhite: #ffffff;
